body
{
    margin: 0;
    background-color: 4c1a57;
}
.nav
{ 
    background-color: 3A1044;
    font-family: 'VT323', monospace;    
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: larger;
    padding: 1%;
}
.navleft
{
    width:40%;    
    color: ff4000;

}
.navright
{
    display: flex;
    justify-content: right;
    width:50%;
}
.rightitem
{
    margin-right: 2rem;
}

.body
{
    display: flex;
    flex-wrap: wrap;
    height: 78%;
}
.sidebar
{
    background-color: 71337F;
    height: 100%;
    width: 15%;
    text-align: center;
    padding: 1rem;
}
.para
{
    padding: 6%;
    width: 80%;
    text-align: left;
    color: white;
}
.settings
{
    margin-top: 215%;
}
footer{
    background-color:3A1044;
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    justify-content: center;
    align-items: center;
}
.fitem
{
    width: 12%;
    color: aliceblue;
    margin-left: 1%;
}
.image
{
    margin-right: 0.5rem;
    float: left;
    height: 20px;
    margin-top: 4px;
}
a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    color: aliceblue;
}
.text
{
    margin-top: 2rem;
    background-color: 71337F;
    height: 19%;
    width: 100%;
    font-size: 30px;
    color: white;
    outline: none !important;
    border:5px solid rgb(92, 12, 82);
    box-shadow: 0 0 10px #eb6308;
}
.btn
{
    height: 3 rem;
    width: 3 rem;
}
.reset
{
    margin-top: 2%;
    margin-left: 45%;
}
.resetbutton
{
    background-color: white;
    color: black;
    font-weight: bold;
}